body {
  margin: auto;
  margin-top: 7rem;
  max-width: 1440px;
  max-height: 1080px;
  font-size: 18px;
  font-family: 'PT Serif';
}
p {
  line-height: 1.6;
}
.font-family {
  font-family: 'Poppins';
}
.position {
  top:0;
  right:-1rem;
  transform: rotate(90deg);
  width: 1rem;
}
.position > p {
  margin: 0;
  font-size: 0.6rem;
}
footer {
  margin-top: 9rem;
}

@media(max-width:576px){
  body {
    font-size: 14px;
  }
}